* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

.parent{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 25px;
    justify-content: center;
    .card{
        padding: 20px;
        height: 320px;
        width: 270px;
        border-radius: 24px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top{
            display: flex;
            justify-content: space-between;
            img{
                height: 30px;
                width: 30px;
                border: 2px solid rgb(163, 163, 163);
                border-radius: 50%;
                object-fit: cover;
            }
            button{
                color: rgb(163, 163, 163);
                background-color: transparent;
                border: 1px solid rgb(163, 163, 163);
                padding: 5px 10px;
                border-radius: 6px;
                i{
                    padding-left:4px;
                    color: rgb(163, 163, 163);
                }
        }
    }
    .center{
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        .head{
            display: flex;
            align-items: end;
            h3{
                font-size: 20px;
            }
            span{
                padding-left: 5px;
                font-size: 12px;
                color: rgb(163, 163, 163);
            }
        }
        h3{
            font-size: 22px;
        }
        .tag{
            display: flex;
            gap: 15px;

            h4{
                background-color:rgb(240, 238, 238);
                color: #111;
                font-size: 10px;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
    }
    .bottom{
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        border-top:2px solid rgb(204, 204, 204);
        div{
            h4{
                font-size: 18px;
                padding-bottom: 4px;
            }
            p{
                font-size: 12px;
                color: rgb(163, 163, 163);
            }
        }
        button{
            background-color: #111;
            color: #fff;
            border: none;
            padding: 10px 10px;
            border-radius: 10px;
        }
    }
}
}